.mainHeading {
  font-size: var(--gwi-font-size-main-heading);
  color: var(--gwi-color-title);
  margin-bottom: var(--gwi-spacing-heading-main-bottom);
  margin-top: var(--gwi-spacing-heading-main-top);
  font-weight: var(--gwi-font-weight-main-heading);
  & strong {
    font-weight: var(--gwi-font-weight-main-heading-strong);
  }
}

.subHeading1 {
  color: var(--gwi-color-text);
  font-size: var(--gwi-font-size-sub-heading-1);
  margin-top: var(--gwi-spacing-heading-sub-1-top);
  margin-bottom: var(--gwi-spacing-heading-sub-1-bottom);
}
