.picture {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image {
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}

.picture-fullscreen {
}
