.outer {
  z-index: 1;
  box-shadow:
    0 10px 20px #5d451930,
    0 6px 6px #5d45193b;
  @media all and (display-mode: fullscreen) {
    display: none;
  }
}

.inner {
  grid-column: 1 / max-content;
  @media (--viewport-desktop-up) {
    grid-column: 2 / 14;
  }
}

.innser {
  display: grid;
  grid-template-columns: auto auto;
}
