.wrapper {
  grid-column: 1 / 2;
  padding: var(--gwi-grid-spacing-base);
  @media (--viewport-tablet-up) {
    grid-column: 1 / 3;
  }
  @media (--viewport-desktop-up) {
    grid-column: 2 / 5;
  }
}

.logo {
  height: 40px;
}
